* {
  box-sizing: border-box;
  margin: 0; }

#header-viewport {
  display: flex;
  flex-direction: column; }
  #header-viewport header #nav-list {
    display: none; }
  #header-viewport header #navigation-main {
    display: flex; }
    #header-viewport header #navigation-main .container {
      position: absolute;
      width: 100vw;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #header-viewport header #navigation-main .container #logo {
        display: flex;
        padding: 35px 0 0 35px; }
        #header-viewport header #navigation-main .container #logo a {
          display: flex;
          align-items: center;
          width: 50vw;
          height: 40px;
          color: white;
          text-decoration: none; }
          #header-viewport header #navigation-main .container #logo a img {
            height: 100%; }
          #header-viewport header #navigation-main .container #logo a h4 {
            margin-left: 20px;
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: 200; }
      #header-viewport header #navigation-main .container #navigation-right {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 35px 50px 0 0; }
        #header-viewport header #navigation-main .container #navigation-right .line {
          height: 4px;
          width: 2.5em;
          background-color: white;
          margin-bottom: 4px; }
          #header-viewport header #navigation-main .container #navigation-right .line:first-child {
            border-radius: 2px 2px 0 0; }
          #header-viewport header #navigation-main .container #navigation-right .line:last-child {
            border-radius: 0 0 2px 2px; }
  #header-viewport header #hero {
    display: flex;
    width: auto;
    height: 500px;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 960px) {
      #header-viewport header #hero {
        height: 1000px; } }
    #header-viewport header #hero #hero-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center; }
      #header-viewport header #hero #hero-text img {
        display: flex;
        height: 80px;
        width: 120px; }
      #header-viewport header #hero #hero-text h1 {
        color: white;
        font-size: 3em;
        font-family: serif;
        font-weight: 100;
        letter-spacing: 3px; }
      #header-viewport header #hero #hero-text .heading-sep {
        background-color: white;
        width: 300px;
        height: 4px; }
      #header-viewport header #hero #hero-text p {
        display: flex;
        justify-content: center;
        color: white;
        letter-spacing: 2px;
        font-weight: lighter;
        font-family: 'Fjalla One', serif;
        text-transform: uppercase; }
      @media screen and (min-width: 750px) {
        #header-viewport header #hero #hero-text h1 {
          font-size: 5em; }
        #header-viewport header #hero #hero-text p {
          font-size: 1.5em; } }

* {
  box-sizing: border-box;
  margin: 0; }

.viewport {
  background-color: gray;
  display: flex;
  width: 100%; }
  .viewport #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em; }
    @media screen and (min-width: 768px) {
      .viewport #wrapper {
        padding: 0;
        flex-flow: row wrap; } }
    .viewport #wrapper .slide {
      height: 250px;
      margin-bottom: 2em;
      padding: 2em;
      border-radius: 4px;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .viewport #wrapper .slide a {
        width: 80px;
        height: 80px;
        margin: auto;
        padding: 15px;
        border-radius: 50%;
        background-color: black;
        opacity: 0.5; }
      .viewport #wrapper .slide h3 {
        align-self: flex-start;
        color: white;
        font-family: "Fjalla One";
        text-transform: uppercase;
        letter-spacing: 1px; }
        .viewport #wrapper .slide h3 .sep {
          background-color: #dc7725;
          width: 2em;
          height: 5px; }
      .viewport #wrapper .slide:hover a {
        transition: all .4s ease-in-out;
        transform: scale(1.25); }
      @media screen and (min-width: 768px) {
        .viewport #wrapper .slide {
          margin: 0;
          height: 500px;
          border-radius: 0;
          width: 50%; }
          .viewport #wrapper .slide:first-child {
            width: 100%; }
          .viewport #wrapper .slide:nth-of-type(6) {
            width: 100%; } }
    .viewport #wrapper .slide1 {
      background-image: url("../img/raft.jpg");
      background-size: cover; }
      .viewport #wrapper .slide1 a {
        background-image: url("../img/icon-raft.svg");
        background-size: cover; }
    .viewport #wrapper .slide2 {
      background-image: url("../img/basecamp.jpg");
      background-size: cover; }
      .viewport #wrapper .slide2 a {
        background-image: url("../img/icon-basecamp.svg");
        background-size: cover; }
    .viewport #wrapper .slide3 {
      background-image: url("../img/backpacking.jpg");
      background-size: cover; }
      .viewport #wrapper .slide3 a {
        background-image: url("../img/icon-backpacking.svg");
        background-size: cover; }
    .viewport #wrapper .slide4 {
      background-image: url("../img/canoe.jpg");
      background-size: cover; }
      .viewport #wrapper .slide4 a {
        background-image: url("../img/icon-canoe.svg");
        background-size: cover; }
    .viewport #wrapper .slide5 {
      background-image: url("../img/photo.jpg");
      background-size: cover; }
      .viewport #wrapper .slide5 a {
        background-image: url("../img/icon-photography.svg");
        background-size: cover; }
    .viewport #wrapper .slide6 {
      background-image: url("../img/custom.jpg");
      background-size: cover; }
      .viewport #wrapper .slide6 a {
        background-image: url("../img/icon-custom.svg");
        background-size: cover; }

* {
  box-sizing: border-box;
  margin: 0; }

#mid-bar {
  height: 125px;
  width: 100%;
  margin: -5px 1px;
  background-image: url("../img/texture-bar.png");
  background-size: cover;
  text-align: center;
  background-color: gray; }

footer {
  padding: 1em;
  background-image: url("../img/texture-bar.png");
  background-size: cover;
  text-align: center;
  background-color: gray;
  font-family: 'Fjalla One', serif; }
  footer a {
    text-decoration: none;
    color: lightgray; }
  footer:last-child {
    color: #758b7d; }

/*# sourceMappingURL=styles.css.map */
