@import "index";

* {
  box-sizing: border-box;
  margin: 0;
}

#mid-bar {
  height: 125px;
  width: 100%;
  margin: -5px 1px;
  background-image: url("../img/texture-bar.png");
  background-size: cover;
  text-align: center;
  background-color: gray;
}

footer {
  padding: 1em;
  background-image: url("../img/texture-bar.png");
  background-size: cover;
  text-align: center;
  background-color: gray;
  font-family: 'Fjalla One', serif;
  a {
    text-decoration: none;
    color: lightgray;
  }
  &:last-child {
    color: #758b7d;
  }
}
