@import "index";

* {
  box-sizing: border-box;
  margin: 0;
}

#mid-bar {
  height: 125px;
  width: 100%;
  margin: -5px 1px;
  background-image: url("../img/texture-bar.png");
  background-size: cover;
  text-align: center;
  background-color: gray;
}

.viewport {
  background-color: gray;
  display: flex;
  width: 100%;
  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em;
    @media screen and (min-width: 768px) {
      padding: 0;
      flex-flow: row wrap;
      & > * {


      }
    }

    .slide {
      height: 250px;
      margin-bottom: 2em;
      padding: 2em;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width: 768px) {
        margin: 0;
        height: 500px;
        border-radius: 0;
        width: 50%;
        background-position: center;
        &:first-child {
          width: 100%;
        }
        &:nth-of-type(6) {
          width: 100%;
        }
      }

      a {
        width: 80px;
        height: 80px;
        margin: auto;
        border-radius: 50%;
        background-color: black;
        opacity: 0.5;
      }
      h3 {
        align-self: flex-start;
        color: white;
        font-family: 'Fjalla One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    .slide1 {
      background-image: url("../img/home-raft.jpg");
      background-size: cover;

      a {
        background-image: url("../img/icon-raft.svg");
        background-size: cover;
      }
    }
    .slide2 {
      background-image: url("../img/home-basecamp.jpg");
      background-size: cover;
      a {
        background-image: url("../img/icon-basecamp.svg");
        background-size: cover;
      }
    }
    .slide3 {
      background-image: url("../img/home-backpacking.jpg");
      background-size: cover;
      a {
        background-image: url("../img/icon-backpacking.svg");
        background-size: cover;
      }
    }
    .slide4 {
      background-image: url("../img/home-canoe.jpg");
      background-size: cover;
      a {
        background-image: url("../img/icon-canoe.svg");
        background-size: cover;
      }
    }
    .slide5 {
      background-image: url("../img/home-photo.jpg");
      background-size: cover;
      a {
        background-image: url("../img/icon-photography.svg");
        background-size: cover;
      }
    }
    .slide6 {
      background-image: url("../img/home-custom.jpg");
      background-size: cover;
      a {
        background-image: url("../img/icon-custom.svg");
        background-size: cover;
      }
    }
  }
}

footer {
  padding: 1em;
  background-image: url("../img/texture-bar.png");
  background-size: cover;
  text-align: center;
  background-color: gray;
  font-family: 'Fjalla One', serif;
  a {
    text-decoration: none;
    color: lightgray;
  }
  &:last-child {
    color: #758b7d;
  }
}
